.social{
    margin-top:140px;
    float:right;
    list-style:none;
}

.social li {
    font-size:30px;
     color:white;
    display:inline;
    padding:15px;
    
}

.social li a{
     color:white;
}
.right-header {
    padding-left:100px;
    text-align:left;
    width:50%;
    float:right;
}

.left-header {
    padding-right:100px;
    text-align:right;
     width:50%;
     float:left;
}

@keyframes rotate {
    0%{transform:rotateZ(0deg);}
    100%{transform:rotateZ(360deg);}
}

.social li i{
    transform: rotate(-20deg);
    animation-name:rotate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
}
@keyframes example {
    from{width:0%;}
    to{width:100%;}
}

p.right{
    float:right;
    width:100%;
}
p.animated{
    border-bottom:#fed136 solid 2px;
    animation-name: example;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.header-btn {
    padding-top:50px;
    clear:both;
}
section {
    padding-top:40px;
}
.portfolio {
    margin-top:20px;
}



.portfolio-modal .modal-content {
    padding:0 0;
}
.project-detail-list{
    list-style:none;
    text-align:left;
}
.project-detail-list li{
    padding-bottom:10px;
    padding-top:10px;
    border-bottom: 1px solid grey;
}
.project-desc{
    text-align:left;  
}
#skills{
     background-color:#333300;
     color:white;
    text-align:center;
}

.skills-row{
    padding-top:30px;
}
#ui-skill-canvas{
    position:relative;
}
.detail-skills-row{
    padding-top:30px;
}
.panel{
   background-color:transparent; 
}
.panel-body{
    background-color:transparent;
}
.skills-list{
    list-style:none;
    text-align:left;
}

.panel-heading-frame{
    background-color:#00ffcc !important;
}
.panel-heading-lang{
    background-color:#3399ff !important;
}
.panel-heading-db{
    background-color:#ff6666 !important;
}
.panel-heading-tools{
    background-color:#ffcc00 !important;
}

.well{
    background-color:transparent !important;
    
}

.row-prof{
    padding-top:30px;
}

.timeline{
    padding-top:40px;
}
/* favorites section */

#favorites {
  background-image: url('../img/favorites/background-hd.jpg');
  background-position: center;
  background-repeat: no-repeat;
  color:azure;
}

#favorites ul {
    list-style:none;
    text-align:center;
    padding-top: 15px;
}
.fav-heading-left {
    
    text-align:left;
    padding:5px;
    
    
}
.fav-heading-right {
    text-align:right;
   
    padding:5px;
   
}

.fav-left {
  
    border-bottom : 1px solid azure;
    text-align:center;
  
}

.fav-right {
    
     border-bottom : 1px solid azure;
    text-align:center;
   
}
/* favorites animation */

@keyframes slide-left {
    0%{left:100px;}
    100%{left:0px;}
}
@keyframes color-change {
    0%{color:"white";}
    100%{color:"red";}
}

/* hobbies section */

.hobbies-list{
    text-align:center;
}
.hobbies-list li{
    display:inline-block;
    padding-right:20px;
    
   
}

.border-div{
    border-bottom: 1px solid darkgray;
    padding-top:15px;
}

.dot{
    color:grey;
    font-size:8px;
}

/* media queries */
@media(max-width:768px) {
    .border-div{
        display:none;
    }
}
@media(max-width:900px) {
    .hobbies-list li{
        display:block;
        padding-bottom:15px;
        
    }
    .hobbies-list li.dot{
        display:none;
    }
}

.hobbies-list li a {
    text-decoration: none;
    font-size:20px;
}

.hobbies-list li a:hover{
    color:aqua;
}

.hobbies-list li.active a{
    color:mediumpurple;
}
.hobby-img{
    max-width:100%;
   
}

#hobbies .no-gutter:first-of-type {
    padding-top:30px;
}

#animation{
    padding-bottom:200px;
}